@charset "UTF";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Open+Sans:wght@300;400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.voltar {
  background-color: orange;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

body {
  background-color: rgb(255, 162, 0);
  margin: auto;
  max-width: 1000px;
  min-width: 360px;
}

/*BemVindo*/

.mainbv {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.634) 0px 0px 15px 4px;
}

.mainbv .bemvindo {
  padding: 20px;
}

.mainbv .bemvindo h1 {
  color: rgb(255, 162, 0);
  font-size: 65px;
  padding: 5px;
}

.mainbv .bemvindo p {
  font-size: 35px;
  text-align: center;
}

.mainbv .opcoes {
  text-align: center;
  flex-direction: column;
}

.mainbv .opcoes a button {
  margin: 7px;
  padding: 7px;
  background-color: rgb(255, 162, 0);
  font-size: 25px;
  border-radius: 10px;
}

.mainbv .logo {
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 1400px) {
  .mainbv .bemvindo {
    padding: 10px;
  }

  .mainbv .bemvindo h1 {
    font-size: 50px;
  }

  .mainbv .bemvindo p {
    font-size: 30px;
  }

  .mainbv .opcoes a button {
    margin: 7px;
    padding: 7px;
    font-size: 20px;
  }

  .mainbv .logo {
    width: 170px;
    height: auto;
  }
}

@media only screen and (max-width: 550px) {
  .mainbv .bemvindo {
    padding: 10px;
  }

  .mainbv .bemvindo h1 {
    font-size: 50px;
  }

  .mainbv .bemvindo p {
    font-size: 30px;
  }

  .mainbv .opcoes a button {
    margin: 7px;
    padding: 5px;
    font-size: 20px;
  }

  .mainbv .logo {
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .mainbv .bemvindo {
    padding: 10px;
  }

  .mainbv .bemvindo h1 {
    font-size: 45px;
  }

  .mainbv .bemvindo p {
    font-size: 25px;
  }

  .mainbv .opcoes a button {
    margin: 5px;
    padding: 5px 3px;
    font-size: 18px;
  }

  .mainbv .logo {
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .mainbv .bemvindo {
    padding: 10px;
  }

  .mainbv .bemvindo h1 {
    font-size: 40px;
  }

  .mainbv .bemvindo p {
    font-size: 20px;
  }

  .mainbv .opcoes a button {
    margin: 5px;
    padding: 7px 4px;
    font-size: 15px;
  }

  .mainbv .logo {
    width: 200px;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  .mainbv .bemvindo {
    padding: 5px;
  }

  .mainbv .bemvindo h1 {
    font-size: 35px;
  }

  .mainbv .bemvindo p {
    font-size: 20px;
  }

  .mainbv .opcoes a button {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
  }

  .mainbv .opcoes img {
    width: 200px;
    height: auto;
  }
}

/*------------------------------------*/

/*tituloes*/

.main {
  margin: auto;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.634) 0px 0px 15px 4px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titulo h1 {
  color: rgb(255, 162, 0);
  font-size: 35px;
  padding: 10px;
}

.titulo h2 {
  font-size: 27px;
  margin-bottom: 20px;
}

.titulo img {
  width: 15%;
  height: auto;
}

.atencao {
  width: 500px;
  padding: 5px;
  margin: auto;
  background-color: rgb(255, 162, 0);
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.pao {
  color: rgb(118, 191, 219);
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px;
}

.main .listapedidos {
  columns: 2;
  padding: 20px 100px;
}

.coluna a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  max-width: 900px;
  text-decoration: none;
  break-inside: avoid;
  page-break-inside: avoid;
  transition-duration: 0.5s;
}

.coluna a:hover {
  background-color: rgb(77, 50, 0);
  border-radius: 5px;
}

.main .listapedidos .coluna .descricao {
  width: 230px;
  height: 90px;
  margin-right: 30px;
}

.coluna h3 {
  color: rgb(255, 149, 0);
  font-size: 16px;
  padding: 3px 0px;
}

.coluna h4 {
  font-size: 13px;
}

.coluna p {
  background-color: orange;
  color: white;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px 4px;
  margin: 5px;
  border-radius: 5px;
}

.main .molhos {
  background-color: orange;
  color: black;
  display: flex;
  padding: 12px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.main .molhos p {
  background-color: orange;
  color: black;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  padding: 0px 15px;
}

@media only screen and (max-width: 930px) {
  .main .listapedidos {
    padding: 0px 50px;
  }

  .main .listapedidos .coluna a {
    padding: 5px;
  }

  .main .molhos p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 830px) {
  .main h1 {
    color: rgb(118, 191, 219);
    font-size: 19px;
    padding: 8px;
  }

  .main .listapedidos {
    padding: 0px 30px;
  }

  .main .listapedidos .coluna a {
    padding: 3px;
  }

  .main .listapedidos .coluna .descricao {
    width: 210px;
    height: 85px;
    margin-right: 40px;
  }

  .main .listapedidos .coluna h4 {
    font-size: 12px;
  }

  .main .listapedidos .coluna p {
    font-size: 17px;
    padding: 8px 3px;
    margin: 5px;
  }

  .main .molhos p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .main .titulo h1 {
    font-size: 27px;
  }

  .main h2 {
    font-size: 27px;
  }

  .main .atencao {
    width: 400px;
    padding: 4px;
    font-size: 13px;
  }

  .main h1 {
    color: rgb(118, 191, 219);
    font-size: 16px;
    padding: 8px;
  }

  .main .listapedidos {
    padding: 0px 30px;
  }

  .main .listapedidos .coluna a {
    padding: 3px;
  }

  .main .listapedidos .coluna .descricao {
    width: 200px;
    height: 75px;
    margin-right: 20px;
  }

  .main .listapedidos .coluna h3 {
    font-size: 15px;
  }

  .main .listapedidos .coluna h4 {
    font-size: 11px;
  }

  .main .listapedidos .coluna p {
    font-size: 17px;
    padding: 8px 3px;
    margin: 5px;
  }

  .main .molhos p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 680px) {
  .main .titulo img {
    width: 20%;
    height: auto;
  }

  .main .listapedidos {
    columns: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .main .listapedidos .coluna .descricao {
    width: 270px;
    height: 50px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .main .titulo h1 {
    font-size: 20px;
  }

  .main h2 {
    font-size: 20px;
  }

  .main .atencao {
    width: 300px;
    padding: 4px;
    font-size: 11px;
  }

  .main h1 {
    font-size: 12px;
    padding: 8px;
  }

  .main .molhos p {
    font-size: 12px;
    padding: 0px 7px;
  }
}

@media only screen and (max-width: 400px) {
  .main .atencao {
    padding: 4px;
    font-size: 10px;
  }

  .main h1 {
    font-size: 10px;
    padding: 7px;
  }

  .main .listapedidos .coluna .descricao {
    width: 170px;
    height: 50px;
  }

  .main .listapedidos .coluna h3 {
    font-size: 13px;
  }

  .main .listapedidos .coluna h4 {
    font-size: 10px;
  }

  .main .listapedidos .coluna p {
    font-size: 17px;
  }

  .main .molhos {
    padding: 12px;
  }

  .main .molhos p {
    font-size: 9px;
    padding: 0px 10px;
  }
}

/*--------------------------------------*/

/*Porções*/

.adicionais {
  width: 900px;
  margin: auto;
  background-color: orange;
  border-radius: 10px;
  display: flex;
}

.adicionais .adicional {
  width: 850px;
  padding: 10px;
}

.adicionais .adicional h2 {
  color: black;
  text-align: center;
  font-weight: bold;
}

.adicionais .adicional div {
  display: flex;
  font-size: 15px;
}

.adicionais .adicional div h3 {
  width: 360px;
}

@media only screen and (max-width: 950px) {
  .adicionais {
    width: 750px;
  }

  .adicionais .adicional h2 {
    font-size: 20px;
  }

  .adicionais .adicional div {
    font-size: 12px;
  }

  .adicionais .adicional div h3 {
    width: 300px;
  }
}

@media only screen and (max-width: 780px) {
  .adicionais {
    width: 650px;
  }

  .adicionais .adicional h2 {
    font-size: 18px;
  }

  .adicionais .adicional div {
    font-size: 11px;
  }

  .adicionais .adicional div h3 {
    width: 250px;
  }
}

@media only screen and (max-width: 680px) {
  .adicionais {
    width: 450px;
    display: flex;
    flex-direction: column;
  }

  .adicionais .adicional {
    width: 430px;
    padding: 10px;
  }

  .adicionais .adicional h2 {
    font-size: 20px;
    width: 390px;
  }

  .adicionais .adicional div {
    font-size: 12px;
    padding: 2px;
  }

  .adicionais .adicional div h3 {
    width: 390px;
  }
}

@media only screen and (max-width: 500px) {
  .adicionais {
    width: 390px;
    display: flex;
    flex-direction: column;
  }

  .adicionais .adicional {
    width: 370px;
    padding: 10px;
  }

  .adicionais .adicional h2 {
    font-size: 16px;
    width: 390px;
  }

  .adicionais .adicional div {
    font-size: 10px;
    padding: 2px;
  }

  .adicionais .adicional div h3 {
    width: 330px;
  }
}

@media only screen and (max-width: 400px) {
  .adicionais {
    width: 350px;
  }

  .adicionais .adicional {
    width: 330px;
    padding: 10px;
  }

  .adicionais .adicional h2 {
    font-size: 16px;
    width: 350px;
  }

  .adicionais .adicional div {
    font-size: 8px;
    padding: 2px;
  }

  .adicionais .adicional div h3 {
    width: 300px;
  }
}

/*------------------------------*/

/*Combos na Caixa*/

/*------------------------------*/

/*Rodapé/footer*/

footer {
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 20px;
  padding: 5px;
}

footer a {
  text-decoration: none;
}

footer img {
  width: 50px;
  height: auto;
  padding: 5px 10px;
}

@media only screen and (max-width: 1400px) {
  footer p {
    font-size: 17px;
  }

  footer img {
    width: 50px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 550px) {
  footer p {
    font-size: 20px;
  }

  footer img {
    width: 60px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 500px) {
  footer p {
    font-size: 17px;
  }

  footer img {
    width: 50px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 450px) {
  footer p {
    font-size: 15px;
  }

  footer img {
    width: 40px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 400px) {
  footer p {
    font-size: 13px;
  }

  footer img {
    width: 40px;
    padding: 5px 10px;
  }
}
/*----------------------------------*/
